[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=amir
WorkingDirectory=/home/amir/sites/SITENAME/source/newspaper
ExecStart=/home/amir/sites/SITENAME/virtualenv/bin/gunicorn \
	--bind unix:/tmp/SITENAME.socket \
	--access-logfile ../access.log \
	--error-logfile ../error.log \
	newspaper.wsgi:application

[Install]
WantedBy=multi-user.target
